<div>
	<p>This website is maintained by Ben Schattinger. It is not affiliated with the Cleveland Skating Club. If you have inquires related to CSC,
		please check out their website <a href="http://clevelandskatingclub.org/">here</a>. This website is designed for use during the CSC Bonspiel.</p>
</div>