<div>
	<p>You may contact us at <a href="mailto:admin@curlcsc.com">admin@curlcsc.com</a>. If you have a question related to the Cleveland Skating club, please contact them at
	<a href="mailto:info@clevelandskatingclub.org">info@clevelandskatingclub.org</a>.</p>
</div>