<div>
	<p>Welcome to the CSC Curling bonspiel website! From here, you can <a href="/data">view draws</a>, <a href="/contact">contact us</a>, or <a href="/about">view information about us</a>.</p>
</div>