<link rel='stylesheet' type='text/css' href='/css/interface.css'/>
<div>
	<ul>
		{{#each panels}}
			<li{{#if this.selected}} id="selected"{{/if}}>
				<a href="/settings?panel={{{encodeURIComponent this.name}}}" class="autoexempt">
					<div></div>
					<span>{{this.name}}</span>
				</a>
			</li>
		{{/each}}
	</ul>
</div>
{{#each panels}}
	<div{{#if this.selected}} id="selected-content"{{/if}} data-com-curlcsc-settingpanel-id="{{this.name}}">
		<div>
			{{{this.content}}}
		</div>
	</div>
{{/each}}